var/cache/*
var/log/*
vendor
tests/_output/*
/composer.lock
tests/examples/Tester.php
tests/functional/FunctionalTester.php
tests/unit/UnitTester.php
.project
.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.common.project.facet.core.xml
.buildpath
.settings/org.eclipse.wst.jsdt.ui.superType.name
